@import "tailwindcss";
@import "tw-animate-css";

/* custom css */

.rubik {
  font-family: var(--font-rubik), sans-serif;
}

.inter {
  font-family: var(--font-inter), sans-serif;
}

.caveat {
  font-family: var(--font-caveat), sans-serif;
}

.headerSearch::before {
  position: absolute;
  content: "";
  background: #A6A6A6;
  width: 1px;
  left: auto;
  right: 64px;
  height: 29px;
  top: 0;
  bottom: 0;
  margin: auto;
}

button:hover, Link:hover {
  cursor: pointer;
}

.scrollbar {
  overflow: auto;
  scrollbar-width: thin;
}

.slider-container {
  height: 153px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  opacity: 0;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.slide:nth-child(1) {
  animation-name: slide1;
}
.slide:nth-child(2) {
  animation-name: slide2;
}
.slide:nth-child(3) {
  animation-name: slide3;
}
.slide:nth-child(4) {
  animation-name: slide4;
}
.slide:nth-child(5) {
  animation-name: slide5;
}

@keyframes slide1 {
  0%   { right: -100%; opacity: 0; }
  4%   { right: 0; opacity: 1; }
  16%  { right: 0; opacity: 1; }
  20%  { right: 100%; opacity: 0; }
  100% { right: 100%; opacity: 0; }
}

@keyframes slide2 {
  20%  { right: -100%; opacity: 0; }
  24%  { right: 0; opacity: 1; }
  36%  { right: 0; opacity: 1; }
  40%  { right: 100%; opacity: 0; }
  100% { right: 100%; opacity: 0; }
}

@keyframes slide3 {
  40%  { right: -100%; opacity: 0; }
  44%  { right: 0; opacity: 1; }
  56%  { right: 0; opacity: 1; }
  60%  { right: 100%; opacity: 0; }
  100% { right: 100%; opacity: 0; }
}

@keyframes slide4 {
  60%  { right: -100%; opacity: 0; }
  64%  { right: 0; opacity: 1; }
  76%  { right: 0; opacity: 1; }
  80%  { right: 100%; opacity: 0; }
  100% { right: 100%; opacity: 0; }
}

@keyframes slide5 {
  80%  { right: -100%; opacity: 0; }
  84%  { right: 0; opacity: 1; }
  96%  { right: 0; opacity: 1; }
  100% { right: 100%; opacity: 0; }
}


@media (max-width: 640px) {
  .headerSearch::before {
    right: 45px;
    height: 20px;
  }
  .slider-container {
    height: 220px;
  }
}
